<html lang="zh">
<head>
    <title>face</title>
    <meta charset="utf-8">
</head>
<body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>

<video id="video" width="500px" height="500px" autoplay="autoplay"></video>
<canvas id="canvas" width="500px" height="500px"></canvas>
<div>
    <button id="reg" onclick=reg()>Run</button>
    <button id="entry" onclick=entry()>Register</button>
    <div id='entryInfo' style="display: none">
        name:<input type="text" id="name" autocomplete="off">
        <button id="snap" onclick=takePhoto()>Retake</button>
        <button id="sub" onclick=sub()>Submit</button>
    </div>
    <div id="tips" style="color:#F00"></div>
</div>

<script>
    var videoEle = $('#video')[0];
    var canvasEle = $('#canvas')[0];


    function sub() {
        let name = $('#name').val();
        if (name == '') {
            $("#tips").empty();
            $("#tips").append('Name must be clarified!');
        } else {
            let data = {
                'name': name,
                'image': canvasEle.toDataURL('image/jpeg', 1)
            };
            $.post('/entry/', JSON.stringify(data), function (res, status) {
                $("#tips").empty();
                if (status == 'success') {
                    $("#tips").append(res.msg);
                    $("#name").val('');
                    $('#entryInfo').hide();


                }
                else {
                    $("#tips").append('Failed!')
                }

            });

        }
    }


    function entry() {
        $("#tips").empty();
        $("#name").val('');
        $('#entryInfo').show();
        takePhoto();


    }

    function reg() {
        $("#tips").empty();
        $('#entryInfo').hide();
        takePhoto();
        $.post('/reg/', JSON.stringify({'image': canvasEle.toDataURL('image/jpeg', 1)}), function (res, status) {

            if (status == 'success') {
                $("#tips").append(res.msg);
            }
            else {
                $("#tips").append('Failed!')
            }
        })

    }


    function getMedia() {
        let constraints = {
            video: {width: 500, height: 500},
            audio: false
        };
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(function (MediaStream) {
            videoEle.srcObject = MediaStream;
            videoEle.play();
        });
    }

    function takePhoto() {

        let ctx = canvasEle.getContext('2d');
        ctx.drawImage(videoEle, 0, 0, 500, 500);


    }


    getMedia();
</script>
</body>
</html>